.App{
  background-image: url('../public/images/hero-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.App .navbar-brand {
  font-weight: bold;
}

.App > .background{
  width: 100%;
  height: 100%;
}

.App .navbar-nav{
  color: white;
}

.App .navbar-default {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  
}

.navbar-default .navbar-nav{
  font-size: 11px;
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}